#header_profile_page{
    background-color: #211d1d;
}
#logo_netflix{
    width: 150px;
    height: 100%;
}

.profile-page_btn:hover {
    background-color: #FFF;
}

.bg-custom{
    background-color:#323232;
}

.w-custom{
    width: fit-content;
}

.container-img{
    height: fit-content;
}

#pencil_icon{
    text-align: center;
    width: 30px;
    bottom: 0;
    left: 0; 
}
.agree_terms {
    padding: 2px;
    display: flex;
    border: 1px solid $secondary;
    border-radius: 2px;
    width: 30px;
    height: 25px;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}