* a{
    text-decoration: none;
}

.btn-bg-custom{
    background-color: #E3E3E3 ;
    &:hover{
        background-color: #b2b0b0;
    }
}

.w-cutsom-svg {
    max-width: 40px;
}

.w-custom-avatar-setting-page{
    max-width: 100%;
    max-height: 100px;
}

#logo_paypal{
    background-image: url(../assets/Logo_paypal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.w-avatar{
    max-width: 45px;
}

#container-img-avatar{
    max-width: fit-content;
}

