.w-cutsom-svg {
    max-width: 40px;
}

.w-custom-avatar-setting-page{
    max-width: 100%;
    max-height: 150px;
}
.w-logo-paypal{
    max-width: 100%;
    max-height: 150px;
}

#logo_paypal{
    background-image: url(../assets/Logo_paypal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}