@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "profilePage";
@import "settingsPage";

#background {
    height: 100%;
}

#KIDS {
    margin-bottom: 0;
}

.navbar-brand {
    & img {
        width: 100%;
        height: 50px;
    }
}

#avatar {
    width: 32px;
    height: 32px;
}

.form-select {
    width: fit-content;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: unset;

}


// PROFILE PAGE