/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 15px;
    background-image: url(../img/sfondo.png);
}
/* HEADER */
#header{
    text-align: center;
    background-image: linear-gradient(#0099bc, #007388);
    padding: 15px 10px;
    text-transform: uppercase;
}

#header_p {
    color: white;
    margin: 15px;
}

#nav a{
    color: white;
    text-decoration: none;
    line-height: 1.3;
}
#nav a i{
    font-size: 15px; 
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
