<h1>Stai modificando {{movie.title}}, ecco come sarà</h1>

<div class="row">
  <div class="col-12 col-md-6 col-lg-3 mb-3">

    <div class="card">
      <img [src]="movie.imageUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">{{movie.title.length > 20 ? movie.title.slice(0,20)+'...' : movie.title}}</h2>
        <p class="card-text">Release Date: {{movie.releaseDate}}</p>
        <p class="card-text">Plot: {{movie.plot.length > 100 ? movie.plot.slice(0,100)+'...' : movie.plot}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0" *ngFor="let genre of movie.genres">{{genre}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Add New Movie</h2>
    <form #movieForm="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          [(ngModel)]="movie.title"
          placeholder="Enter title"
          required
          #title="ngModel">
        <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
          You must enter a title
        </div>
      </div>
      <div class="mb-3">
        <label for="releaseDate" class="form-label">Release Date</label>
        <input
          type="date"
          class="form-control"
          id="releaseDate"
          name="releaseDate"
          [(ngModel)]="movie.releaseDate"
          required
          #releaseDate="ngModel">
        <div *ngIf="releaseDate.invalid && releaseDate.dirty" class="alert alert-danger">
          You must enter the release date
        </div>
      </div>
      <div class="mb-3">
        <label for="plot" class="form-label">Plot</label>
        <textarea
          class="form-control"
          id="plot"
          name="plot"
          [(ngModel)]="movie.plot"
          rows="3"
          placeholder="Enter plot"
          required
          #plot="ngModel"></textarea>
        <div *ngIf="plot.invalid && plot.dirty" class="alert alert-danger">
          You must enter the plot
        </div>
      </div>
      <div class="mb-3">
        <label for="genres" class="form-label">Generi</label>
        <input
          type="text"
          class="form-control"
          id="genres"
          name="genres"
          [(ngModel)]="genresString"
          placeholder="Inserisci i generi separati da virgola"
          required
          #genresInput="ngModel">
      </div>
      <div *ngIf="genresInput.invalid && genresInput.dirty" class="alert alert-danger">
        You must enter genres separated by comma
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input
          type="text"
          class="form-control"
          id="imageUrl"
          name="imageUrl"
          [(ngModel)]="movie.imageUrl"
          placeholder="Enter image URL"
          required
          #imageUrl="ngModel">
        <div *ngIf="imageUrl.invalid && imageUrl.dirty" class="alert alert-danger">
          You must enter the image URL
        </div>
      </div>
      <button (click)="editMovie(movie)" type="submit" class="btn btn-warning">MODIFICA</button>
      <a class="btn btn-outline-secondary ms-3" routerLink="/movies">HOME</a>
    </form>
  </div>
</div>
