<div class="container my-5">
<div class="row">
  <div class="col-6 d-flex flex-column justify-content-center">
  <div class="col-12">
    <h1>Oops!</h1>
  </div>
  <div class="col-12">
    <h2>Sembra che il motore della nostra pagina 404 abbia bisogno di un po' di manutenzione.</h2>
  </div>
  <div class="col-12">
    <p class="fs-4">Nel frattempo, potreste viaggiare attraverso queste pagine! </p>
  </div>
<div class="col-12">
  <ul class="nav d-flex gap-5 pb-3">
    <li><a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a></li>
    <li><a routerLink="/fiat" class="nav-link px-2 text-body-secondary">Fiat</a></li>
    <li><a routerLink="/ford" class="nav-link px-2 text-body-secondary">Ford</a></li>
    <li><a routerLink="/audi" class="nav-link px-2 text-body-secondary">Audi</a></li>
  </ul>
</div>
</div>
  <div class="col-6 text-center">
    <img src="../../../assets/loghi/page404.png" alt="meccanico_cartton" class="img-fluid">
  </div>
</div>
</div>
