<div class="container">
  <div class="row">
    <div class="col-12 my-2" *ngIf="post">
      <div [ngClass]="{
        'card':true,
        'border': post.active,
        'border-primary': post.active
      }">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.body}}</p>
          <p class="text-secondary">Tags:</p>
          <ul class="list-group list-group-flush">
            <li appColor class="list-group-item px-0">{{post.tags[0] | uppercase}}</li>
            <li appColor class="list-group-item px-0">{{post.tags[1] | uppercase}}</li>
            <li appColor class="list-group-item px-0">{{post.tags[2] | uppercase}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
