

<div class="container my-3">
  <h1 class="text-center">BENVENUTO</h1>
  <p>Vuoi entrare? Inserisci i tuoi dati per registrarti!</p>

  <form>
      <input
      type="text"
      name="nome"
      [(ngModel)]="newUser.name"
      placeholder="nome"
      class="form-control my-2">
      <input
      type="email"
      name="email"
      [(ngModel)]="newUser.email"
      placeholder="email"
      class="form-control mb-2">
      <input
      type="password"
      name="password"
      [(ngModel)]="newUser.password"
      placeholder="password"
      class="form-control mb-2">
      <button (click)="register()" class="btn btn-primary">INVIA</button>
  </form>
  </div>

