<header class="d-flex  align-items-center  justify-content-between bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/loghi/logo_showroom.png" alt="Car_showroom" class="img-fluid">
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a routerLink="/fiat" class="nav-link">Fiat</a></li>
    <li class="nav-item"><a routerLink="/ford" class="nav-link">Ford</a></li>
    <li class="nav-item"><a routerLink="/audi" class="nav-link">Audi</a></li>
  </ul>
</header>
