:root{
    font-size: 12px;
}
body{
    margin: 0;
}
h1{
    text-align: center;
    color: gray
}
h2{
    font-weight: 200;
}
ul li{
    line-height: 2;
}
ol li {
    font-weight: 800;
}

header{
    text-align: center;
}

#logo{
    height: 40px;
    margin-bottom: 10px;
}
#custom_start{
    border-top: 1px solid yellow;
    background-color: rgba(255, 255, 0, 0.213);
}
#head_p{
    color: darkcyan;
    margin: 0;
    padding: 10px; 
}
span{
text-transform: uppercase;
font-weight: 800;

}
#custom_start p{
    font-size: 0.8em;
}

main{
    width: 35vw;
    margin: 0 auto;
}

.focaccia{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #dedede, -5px -5px 5px #dedede, 5px -5px 5px #dedede, -5px 5px 5px #dedede
    }

video{
    border-radius: 10px;
}

#didascalia {
    text-align: center;
    color: #dedede;
}
#decoration {
    border-left: 1px solid yellow;
    padding-left: 10px;
    margin-bottom: 35px;
}
#featured_in {
    color: darkorange;
    text-transform: uppercase ;
    font-size: 0.8em;
    margin-bottom: 0;
}
#link_correlati{
    margin-top: 0;
}
a{
    color: lightseagreen;
}
.divisore{
    border-bottom: 1px solid lightblue;
}
video {
    width: 100%;
}

