<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/toDoDone" class="nav-link">Task completati</a></li>
      <li class="nav-item"><a routerLink="/toDoUnDone" class="nav-link">Task non completati</a></li>
      <li class="nav-item"><a routerLink="/users" class="nav-link">Utenti</a></li>
    </ul>
  </header>
</div>
