<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills gap-3">
      <li class="nav-item"><a routerLink="/" class=" btn btn-outline-secondary" aria-current="page">Home <i class="bi bi-list-task"></i></a></li>
      <li class="nav-item"><a routerLink="/toDoDone" class="btn btn-outline-success">Task done <i class="bi bi-check-circle"></i></a></li>
      <li class="nav-item"><a routerLink="/toDoUnDone" class="btn btn-outline-danger">Task undone <i class="bi bi-x-circle"></i></a></li>
      <li class="nav-item"><a routerLink="/users" class="btn btn-outline-info">Users <i class="bi bi-person-fill"></i></a></li>
    </ul>
  </header>
</div>
